@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-Italic-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}
