:root {
  /* Цвета */
  --color-white: #fff;
  --color-black: #0d141c;
  --color-primary: #338ff2;
  --color-primary-hover: #2a75cc;
  --color-primary-active: #265db3;
  --color-secondary: #4a709c;
  --color-secondary-hover: #2a4b7c;
  --color-light-blue: #e8edf5;
  --color-light-gray: #f8fafd;
  --color-gray: #a0a8b3;
  --color-light-text: #7a8ca8;

  /* Шрифты */
  --font-main: 'Plus Jakarta Sans', sans-serif;
  --font-weight-extrabold: 750;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Размеры */
  --border-radius-small: 12px;
  --border-radius-medium: 16px;
  --border-radius-large: 20px;

  /* Тени */
  --shadow-default: 0 8px 20px rgba(0, 0, 0, 0.08);

  /* Отступы */
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 24px;
  --gap-xlarge: 32px;
  --gap-xxlarge: 36px;
  --sections-gap: 36px;

  /* Размеры иконок */
  --icon-size-small: 18px;
  --icon-size-medium: 20px;
  --icon-size-large: 24px;

  /* Анимации */
  --transition-default: all 0.3s ease;
  --transition-fast: all 0.2s ease;
}
